@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fuente-poppins;
  /* transition suave de scroll; */
  scroll-behavior: smooth;
}
/* body{
    min-height: 1000px;
} */
p {
  font-weight: 300;
  color: $color-black;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

section {
  padding: 50px 100px;
}

.titleText {
  color: $color-black;
  font-size: 2em;
  font-weight: 300;
  span {
    color: $color-primario;
    font-weight: 700;
    font-size: 1.5em;
  }
}


.btn {
  font-size: 1em;
  color: $color-white;
  background: $color-primario;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 6px;
}
