@mixin crea-caja {
  background: #fbfbfb;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

@mixin crea-caja-hover {
  -webkit-box-shadow: 0 0px 15px 0.1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 15px 0.1px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.003);
  -ms-transform: scale(1.003);
  transform: scale(1.003);
}

@mixin box-shadow {
  -webkit-box-shadow: 0 0 10px 1px #4b4c4d;
  box-shadow: 0 0 10px 1px #4b4c4d;
}

@mixin back-image($url) {
  background-image: url($url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin aliniacion-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin image-bx($h) {
  position: relative;
  width: 100%;
  min-height: $h;
}
@mixin img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@mixin box-shadow-3D {
  box-shadow: -2px -2px 2px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}

@mixin text-shadow-3D {
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.3),
    5px 5px 5px rgba(50, 0, 50, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.2);
}
