
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  @include aliniacion-flex-center();
  @include back-image("../images/bg.jpg");
  .content {
    max-width: 900px;
    text-align: center;
    
    h2 {
      font-size: 5em;
      color:$color-white;
    }
    p {
      font-size: 1em;
      color: $color-white;
    }
  }
}

/* Responsive */
@media (max-width: 990px){
  
  section{
      padding: 20px;
  }
  .banner  .content h2{
      font-size: 3em;
      color: #fff;
  }

}
@media (max-width:480px){
  .banner .content h2{
      font-size: 2.2em;
      color: #fff;
  }
}