.contact {
  @include back-image("../images/bg3.jpg");
}
.contactForm {
  padding: 75px 50px;
  background: $color-white;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
  h3 {
    color: $color-black;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    input,
    textarea {
      width: 100%;
      border: 1px solid #555;
      padding: 10px;
      color: #111;
      outline: none;
      font-size: 16px;
      font-weight: 300;
      max-height: 100px;
      resize: none;
    }
    input[type="submit"] {
      font-size: 1em;
      color: $color-white;
      background: $color-primario;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      transition: 0.5s;
      max-width: 100px;
      font-weight: 500;
      border: none;
      cursor: pointer;
    }
    input[type="submit"]:hover{
        letter-spacing: 6px;
    }
  }
}
/* Responsive */
@media (max-width: 990px){
  
  .contactForm{
      padding: 35px 40px;
      margin-top: 20px;
      margin-bottom: 30px;
  }

}