.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    p{
        color: $color-black;
        a{
            color:$color-primario;
            font-weight: 500;
            text-decoration: none;
        }
    }
}
