.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
  .box {
    width: 340px;
    margin: 20px;
    border: 15px solid $color-white;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    .imgBx {
      @include image-bx(300px);
      overflow: hidden;
      img {
        @include img();
        transition: all 0.5s;
      }
    }
    .imgBx:hover img {
      transform: scale(1.1);
    }
    .text {
      padding: 15px 0 5px;
      text-align: center;
      h3 {
        font-weight: 500;
        color: $color-black;
      }
    }
  }
}
.list-number {
  @include aliniacion-flex-center();
  margin-top: 50px;
  .btn-number {
    font-size: 1em;
    @include aliniacion-flex-center();
    height: 40px;
    width: 40px;
    color: $color-white;
    background: $color-primario;
    margin: 0 5px;
  }
}

/* Responsive */
@media (max-width: 990px) {
  .menu .content {
    margin-top: 20px;
  }
  .menu .content .box {
    margin: 10px;
  }
  .menu .content .box .imgBx {
    height: 260px;
  }
  .title {
    text-align: center;
  }
}
