header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  z-index: 1000;
  @include aliniacion-flex-center();
  justify-content: space-between !important;
  transition: 0.5s;
  /*scroll*/
  &.sticky {
    background: $color-white;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    .logo {
      background: $color-black;
    }
    .navigation {
      li {
        a {
          color: $color-black;
        }
        a:hover {
          color: $color-primario;
        }
      }
    }
  }
  /*scroll*/
  .logo {
    color: $color-white;
    font-weight: 700;
    font-size: 2em;
    span {
      color: $color-primario;
    }
  }
  .navigation {
    position: relative;
    display: flex;
    li {
      text-transform: uppercase;
      margin-left: 30px;
      a {
        color: #fff;
        font-weight: 300;
      }
    }
  }
}

/* Responsive */
@media (max-width: 990px){
  header,header.sticky{
      padding: 10px 20px;
  }
  header .navigation{
      display: none;
  }
  header .navigation.active{
      width: 100%;
      height: calc(100% - 68px);
      position: fixed;
      top: 68px ;
      left: 0;display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: #fff;
  }
  header .navigation li{
      margin-left: 0;

  }
  header .navigation li a{
      font-size: 1.6em;
      color: #111;
      font-weight: 300;
  }
  .menuToggle{
      position: relative;
      width: 40px;
      height: 40px;
      background: url(../images/menu.png);
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
  }
  .menuToggle.active{
      background:url(../images/close.png);
      background-size: 25px;
      background-repeat: no-repeat;
      background-position: center;
  }
  header.sticky .menuToggle{
      filter: invert(1);
  }

}